/* common style */
*{
  margin: 0px;
  padding: 0px;
  font-family: 'Lato', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Work Sans', sans-serif;
}
.pink{
  color: #FF42A5;
}
section{
  max-width: 1440px;
  margin: 0px auto;
}
.cmn-btn{
  color: #FFF;
font-size: 1.25rem;
font-weight: 600;
background-color: #FF42A5;
padding: 20px 30px;
border-radius: 48px;
border: none;
margin-right: 20px;
margin-top: 40px;
cursor: pointer;
}
.blue{
  background-color: #4EC5F7;
}
/* nav bar */
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2.5rem 0rem;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
nav ul{
  display: flex;
  list-style: none;
  gap: 2rem;
  align-items: center;
}
nav a{
  text-decoration: none;
  color: #3C354F;
  font-weight: 500;
}
.nav-img{
  display: flex;
  gap: 20px;
  align-items: center;
}
.follow-li{
  display: flex;
  gap: 1.5rem;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  background-color: rgba(11, 2, 35, 0.10);
  align-items: center;
}
.nav-text{
  color: #0B0223;
font-size: 2.75rem;
font-weight: 700;
}
/* banner style */

.banner{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  width: 90%;
}
.banner-container{
  width: 50%;
  padding: 148px 240px;
  background-image: url("../images/Group\ 14.png");
  background-repeat: no-repeat;
  /* background-size: contain; */
}
.banner-content h1{
  color: #0B0223;
font-size: 48px;
font-weight: 600;
}
.banner-content h2{
font-size: 95px;
font-weight: 800;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
margin-bottom: 1rem;
}
.banner-content p{
  color: #534C64;
font-size: 20px;
font-weight: 500;
margin-top: 1rem;
}
/* gamer section */
.gamer-container{
  display: flex;
  justify-content: center;
  padding:55px 30px;
  align-items: center;
  text-align: end;
  width: 100vw;
  background-image: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.gamer-tittle{
font-size: 48px;
font-weight: 700;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.gamer-text{
  color: #534C64;
font-size: 18px;
font-weight: 400;
margin-top: 24px;
}
.our-text{
  color: #534C64;
font-size: 24px;
font-weight: 500;
margin: 24px 0px;
}
.our-text span{
  color: #534C64;
font-size: 32px;
font-weight: 700;
}
/* funny style */
.funny-tittle{
  color: #0B0223;
font-size: 48px;
font-weight: 700;
}
.funny{
  margin-top: 120px;
  text-align: center;
}
.funny .gamer-text{
  margin: 10px 0px 50px;
}
.funny-img-container{
  display: flex;
  gap: 24px;
  margin-bottom: 120px;
}
.funny-img img{
  border-radius: 16px;
}
.watch{
  position: absolute;
  top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 99%;
  width: 99%;
  border: 2px solid transparent;
  border-radius: 16px;
  gap: 10px;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
  transition: all .4s;
}
.funny-img{
  position: relative;
}
.funny-img p{
  color: #FF42A5;
font-size: 20px;
font-weight: 600;
}
.watch:hover{
  opacity: 1;
  cursor: pointer;
  border: 2px solid #FF42A5;
}
/* play section */
.play-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.play-content{
  align-items: right;
}
.cat-img{
  position: relative;
  bottom: 250px;
  right: 150px;
}
/* btn section */
.btn-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 120px;
}
.btn-container button{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  border-radius: 50px;
background: #FFF;
padding: 10px;
margin-right: 50px;
margin-top: 50px;
font-size: 20px;
font-weight: 600;
border: 2px solid transparent;
transition: all 0.3s;
}
.btn-container img{
  height: 35px;
}
.btn-container button:hover{
  border: 2px solid  #FF42A5;
  cursor: pointer;
  color: #FF42A5;
}
/* footer section */
footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0B0223;
  padding: 120px 0px;
}
.footer-text-container{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin: 65px 0px;
}
.footer-text-container p{
  color: #FFF;
font-size: 18px;
font-weight: 600;
}
.footer-icon{
  display: grid;
  grid-template-columns: repeat(6,1fr);
  gap: 40px;
}
.footer-icon i{
  font-size: 40px;
  color: white;
}
.footer-terms{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 30px;
  margin: 74px 0px 30px;
}
.footer-terms p, .footer-copy p{
  color: rgba(255, 255, 255, 0.60);
font-size: 16px;
font-weight: 500;
}
.footer-copy{
  display: flex;
  gap: 5px;
}



/* mobile version */
@media screen and (max-width:576px) {
  section{
    max-width: 320px;
    margin: 0px auto;
  }
  nav, .banner, .funny-img-container, .play-container,
   nav ul{
    flex-direction: column;
  }
  nav ul{
    margin-top: 4rem;
  }
  .banner{
    width: 100%;
  }
  .banner-container{
    padding: 150px 0px;
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;

  }
  .banner-img{
    width: 100%;
  }
  .gamer-container{
    flex-direction: column-reverse;
    padding: 60px 0px;
    text-align: center;
  }
  .gamer-img, .funny-img img{
    width: 100%;
  }
  .gamer-text{
    text-align: center;
    font-size: 16px;
  }
  .funny-tittle, .gamer-tittle{
    font-size: 30px;
    text-align: center;
  }
  .banner-content h2{
    font-size: 50px;
  }
  .banner-content h1{
    font-size: 30px;
  }
  .banner-content p{
    font-size: 16px;

  }
  .cmn-btn{
    padding: 10px 15px;
    font-size: 16px;
  }
  .play-images{
    width: 80%;
  }
  .boy-img{
    width: 100%;
  }
  .cat-img{
    width: 50%;
    bottom: 90px;
    right: 30px;
  }
  .btn-container{
    display: grid;
    grid-template-columns: repeat(3, 90px);
    width: 100%;
    justify-items: center;
  }
  .btn-container button{
    font-size: 8px;
    font-weight: 100;
    margin: 20px 5px;
    gap: 0px;
    padding: 0px;
  }
  .btn-container img{
    height: 24px;
  }
  footer{
    width: 100%;
  }
  .footer-text-container{
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    font-size: 16px;
    justify-items: center;
  }
  .footer-icon{
    grid-template-columns: repeat(3,1fr);
  }
  .footer-terms{
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
    margin: 38px 0px 15px;
  }
  .footer-copy{
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }
  .footer-copy p{
    font-size: 5px;
  }
  .footer-terms p{
    font-size: 10px;
  }
  .footer-icon i{
    font-size: 26px;
  }
  .footer-text-container p{
    font-size: 14px;
  }
  footer .nav-img img{
    height: 24px;
  }
  footer .nav-img p{
    font-size: 2rem;
  }



}


/* tablet version */
@media screen and (min-width:576px) and (max-width:992px) {
  section{
    max-width: 500px;
    margin: 0px auto;
  }
  nav, .banner, .funny-img-container, .play-container{
    flex-direction: column;
    gap: 2rem;
  }
  .banner-img{
    width: 100%;
  }
  .banner{
    width: 100%;
  }
  .banner-container{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 150px 0px;
    background-size: 100% 100%;
  }
  .gamer-container{
    flex-direction: column-reverse;
    padding: 60px 0px;
    text-align: center;
  }
  .gamer-img, .funny-img img{
    width: 100%;
  }
  .play-images{
    width: 80%;
  }
  .boy-img{
    width: 100%;
  }
  .cat-img{
    width: 50%;
    bottom: 100px;
    right: 50px;
  }
  .btn-container{
    display: grid;
    grid-template-columns: repeat(3, 180px);
    justify-items: center;
  }
  .cmn-btn{
    font-size: 16px;
    margin: 20px 0px;
    gap: 0px;
    padding: 0px;
  }
  .btn-container img{
    height: 34px;
  }
  footer{
    width: 100%;
  }
  .footer-text-container{
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    font-size: 16px;
    justify-items: center;
  }
  .footer-icon{
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    gap: 20px;
  }
  .insta{
    grid-column: span 2;
  }
  .footer-terms{
    grid-template-columns: repeat(2,1fr);
  }
  .footer-copy{
    margin-top: 60px;
  }
}
/* for laptop */
@media screen and (min-width:992px) and (max-width:1520px) {
  section{
    max-width:1000px;
    margin: 0px auto;
  }
  .funny-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 100px;
  }
  .gamer-container{
    padding: 55px 0px;
    max-width: 95vw;
  }
  .gamer-container img{
    width: 50vw;
  }
  .watch{
    height: 400px;
    width: 342px;
    border-radius: 16px;
  }
  .banner{
    gap: 0px;
  }
  .banner img{
    width: 30vw;
    height: 50vh;
  }
  .banner-container{
    width: 40vw;
    padding: 148px 200px;
    background-size: contain;
  }
  .cmn-btn{
    padding: 20px 30px;
  }
  .cat-img{
    width: 20vw;
    bottom: 150px;
    right: 80px;
  }
  .boy-img{
    width: 35vw;
  }
}